extends layout

block content
  .title.flow-text
    img.logo(src="/images/title.png")
    span#titleText 한컴타자연습 (놀이마당 1)
    button#btnClose.right.close-button X
  .dashboard.flow-text
    .stats
      span#correct 정타:0
      span#wrong 오타:0
      span#accuracy 정확도:0%
    .score
      span 점수:
      #score 10
    .life-container
      span pH:
      span#life
  canvas#game
  .footer
    #footer-input(data-input='')
      input#gameInput.browser-default(type='text' spellcheck='false' autofocus)
    .footer-status.flow-text
      .keyboard 한글-2
      .status
      #elapsed 00:00
  #gameover-container(style='display:none')
    #gameover 놀이가 끝났습니다.
  script(src='/javascripts/game.js')