@font-face {
  font-family: 'DigitalDismay';
  src: url('/DigitalDismay.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .0625rem solid black;
  width: 100vw;
  height: 100vh;
  padding: .5rem;
  font-family: '궁서체', serif;
  font-weight: 600;
  letter-spacing: .0625rem;
  color: #030007;
  background: #aaa;
  overflow: hidden;
}

.title {
  color: white;
  background: darkblue;
  height: 2.25rem;
}

.logo {
  vertical-align: bottom;
  margin-bottom: .125em;
  width: 2em;
}

.close-button {
  font-weight: 600;
  margin-right: .1875rem;
  background: #aaa;
  padding: 0 .1875em;
  border-width: .125rem;
  border-color: #030007;
  z-index: 1000;
}

.close-button:focus {
  background: #aaa;
}

.close-button:active {
  border-width: .0625rem;
}

.dashboard {
  display: flex;
  height: 2.75rem;
  border: .0625rem solid #030007;
  width: 100%;
}

.dashboard>* {
  border: .0625rem solid #030007;
  border-left: none;
  padding: .0625rem;
  box-shadow: -.0625rem -.0625rem #eee;
  margin-top: .0625rem;
  margin-left: .0625rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 0 1em;
}

.score>span {
  color: yellow;
}

.life {
  padding: 0 .2em;
  margin-right: .125rem;
  border: .0625rem solid #aaa;
  box-shadow: -.0625rem -.0625rem #eee;
  content: ' ';
}

.nolife {
  padding: 0 .2em;
  margin-right: .125rem;
  box-shadow: 0.0625rem 0.0625rem #eee;
  content: ' ';
  border: .0625rem solid #555;
  background: #aaa;
}

.life:nth-child(n) {
  background: darkred;
}

.life:nth-child(n+7) {
  background: darkblue;
}

.life:nth-child(n+13) {
  background: yellow;
}

.life-container {
  width: 40%;
  color: darkblue;
}

#game {
  height: calc(100vh - 10.25rem);
  width: 100%;
}

.footer {
  height: 5rem;
}

#footer-input {
  display: flex;
  position: relative;
  justify-content: center;
}

#footer-input::after {
  color: transparent;
  position: absolute;
  content: attr(data-input);
}

input[type=text] {
  font-family: '궁서체', serif;
  font-weight: 600;
  letter-spacing: .0625rem;
  border: .1875rem solid #030007;
  height: 2rem;
  width: 13vw;
  margin: 0 0 -.1875rem 0;
  color: transparent;
  text-shadow: 0 0 0 #030007;
}

input:focus {
  outline: none;
}

.footer-status {
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.footer-status>* {
  border-top: #555 .0625rem solid;
  border-left: #555 .0625rem solid;
  border-right: #eee .0625rem solid;
  border-bottom: #eee .0625rem solid;
}

.status {
  flex: 1;
}

.keyboard {
  font-size: smaller;
  padding-left: .5em;
  padding-right: 1em;
}

#elapsed {
  font-family: 'DigitalDismay', sans-serif;
  font-weight: lighter;
  font-size: smaller;
  padding: 0 1em;
}

#gameover-container {
  width: 100vw;
  height: 100vh;
  top: 2.25em;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#gameover {
  color: yellow;
  background: darkblue;
  padding: 1.25em;
  font-size: larger;
  font-weight: 500;
  box-shadow: -.125rem -.125rem #eee;
  letter-spacing: .25rem;
}