@tailwind base;
@tailwind components;
@tailwind utilities;
:root{--foreground-rgb:3,0,7}
@media (prefers-color-scheme:dark){
:root{--foreground-rgb:255,255,255}
}
@font-face{font-family:DigitalDismay;src:url(/DigitalDismay.otf) format('woff');font-weight:400;font-style:normal}
@font-face{font-family:ChosunGs;src:url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff) format('woff');font-weight:400;font-style:normal}
main{color:#030007;background:#aaa;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:.0625rem solid #000;width:100vw;height:100vh;padding:.5rem;font-family:ChosunGs,serif;font-weight:600;letter-spacing:.125rem;overflow:hidden;font-family:ChosunGs, serif}
.title{text-wrap:nowrap;font-size:1.25em;display:flex;color:#eee;background:#00008b;height:2.25rem;align-items:center;justify-content:space-between}
.title-text{display:flex;align-items:center}
.logo{vertical-align:bottom;margin-bottom:.125em;display:inline-block}
.button{overflow:hidden;text-wrap:nowrap;font-weight:600;margin-right:.1875rem;background:#aaa;padding:0 .25em;border-width:.125rem;border-color:#030007;z-index:1000;color:#030007}
.button:focus{background:#aaa}
.button:active{padding:0 .3125em;border-width:.0625rem}
.button:hover{color:#eee;background-color:#00008b}
.button[data-state=active]{padding:0 .3125em;border-width:.2rem}

.level-select-window{color:#030007;background:#aaa;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:.0625rem solid #000;padding:.5rem;font-family:ChosunGs,serif;font-weight:600;letter-spacing:.125rem;overflow:hidden}
.level-select-content{margin: 1rem 5rem;}
.level-select-header{border: 1px solid #808080;}
.level-select-header-legend{color:#fff;letter-spacing:1em;font-family:sans-serif;font-weight:400;text-align:center;}
.level-select-list{display:flex;flex-direction:column;gap:.125rem;padding: .5rem 4rem;}
.level-select-item{background:#c0c0c0;border:1px outset #c0c0c0;padding:.5rem 1rem;text-align:center;font-family:ChosunGs,serif;font-weight:600;cursor:pointer;color:#000;font-size:1em;box-shadow:1px 1px 0 #fff,-1px -1px 0 #808080}
.level-select-item:hover{background:#00008b;color:#fff}
.level-select-item:active{border:1px inset #c0c0c0;box-shadow:inset 1px 1px #808080,inset -1px -1px #fff}
.level-select-footer{border:2px inset #c0c0c0;box-shadow:inset 1px 1px #808080,inset -1px -1px #fff;color:#fff;font-weight:lighter;padding-left:.5rem;}

.dashboard{font-size:1.25em;display:flex;border:.0625rem solid #030007;width:100%}
.dashboard>*{border:.0625rem solid #030007;border-left:none;padding:.0625rem;box-shadow:-.0625rem -.0625rem #eee;margin-top:.0625rem;margin-left:.0625rem;padding:.125em 0}
.stats{display:flex;justify-content:space-around;text-wrap:nowrap;width:40%}
.score{display:flex;justify-content:space-between;text-wrap:nowrap;width:20%;padding:0 1em}
.score>span{color:#ff0}
.life{padding:.125rem .25em;margin-right:.125rem;border:.0625rem solid #aaa;box-shadow:-.0625rem -.0625rem #eee;content:' '}
.nolife{padding:0 .2em;margin-right:.125rem;box-shadow:.0625rem .0625rem #eee;content:' ';border:.0625rem solid #555;background:#aaa}
.life:nth-child(n){background:#8b0000}
.life:nth-child(n+7){background:#00008b}
.life:nth-child(n+13){background:#ff0}
.life-container{width:40%;color:#00008b}
.game{height:calc(100vh - 10.25rem);width:100%}
.footer{font-size:1.25em;height:5rem;font-weight:500}
#footer-input{display:flex;position:relative;justify-content:center}
#footer-input::after{color:transparent;position:absolute;content:attr(data-input)}
input[type=text]{font-family:ChosunGs,serif;font-weight:600;letter-spacing:.0625rem;border:.1875rem solid #030007;height:2rem;width:13vw;margin:0 0 -.1875rem 0;color:transparent;text-shadow:0 0 0 #030007}
@media only screen and (max-width:1000px){
input[type=text]{width:20vw}
.popup-content{width:70vw!important;overflow:scroll}
.leaderboard{font-size:1em}
.dashboard{font-size:1em}
.footer{font-size:1em}
.title{font-size:1em;height:1.75rem}
}
@media only screen and (max-width:600px){
input[type=text]{width:40vw}
.popup-content{width:90vw!important;overflow:scroll}
.leaderboard{font-size:.8em}
.dashboard{font-size:.8em}
.footer{font-size:.8em}
.title{font-size:.8em;height:1.5rem}
}
input:focus{outline:0}
.footer-status{display:flex;justify-content:space-between;z-index:-1}
.footer-status>*{border-top:#555 .0625rem solid;border-left:#555 .0625rem solid;border-right:#eee .0625rem solid;border-bottom:#eee .0625rem solid}
.status{flex:1;color:#ff0;padding-left:.5rem}
.keyboard{font-size:smaller;padding-left:.5em;padding-right:1em;font-weight:600;padding-top:.125rem}
.elapsed{font-family:DigitalDismay,sans-serif;font-weight:lighter;font-size:smaller;padding:.125rem 1em}
.popup-container{width:100vw;height:100vh;top:2.25em;left:0;position:fixed;display:flex;align-items:center;justify-content:center;flex-direction:column}
#gameover{color:#fff;background:#00008b;padding:1.25em;font-size:larger;font-weight:500;box-shadow:-.125rem -.125rem #eee;letter-spacing:.25rem}
.yellow{color:#ff0}
.modal{background:#aaa;padding:1rem;margin:0}
.modal .content{font-family:ChosunGs,serif;font-weight:600;letter-spacing:.0625rem;margin:0;padding:0;display:flex;gap:2;align-items:center;justify-content:center;flex-direction:column}
.modal-button{margin-top:.5rem}
.modal-button hr{margin:.5rem 0}
.modal-button .button:last-child:hover{background-color:#8b0000}
.popup-content{padding:0!important;border:none!important}
.button.profile{display:flex;flex-direction:row}
.profile{display:flex;flex-direction:row;align-items:center;justify-content:flex-end}
.circle{border-radius:50%}
.leaderboard{width:100%;display:flex;flex-direction:column;justify-content:center;font-size:1.5em}
.leaderboard tr{display:flex;justify-content:center}
.leaderboard tr *{width:100%;text-align:center}
.leaderboard th{margin:4px 2px;border-style:inset;border:3px solid #555;flex:1}
.leaderboard th:first-child{flex:1.5}
.leaderboard td{margin:4px 2px;border-style:outset;border:3px solid #555;overflow:hidden;text-wrap:nowrap;flex:1}
.leaderboard td:first-child{flex:1.5}
.tutorial{top:6rem;position:fixed;display:flex;font-family:ChosunGs,serif;font-size:1.5em;justify-content:center;text-align:center;background-color:#777;padding:1.25em;font-size:larger;font-weight:500;box-shadow:-.125rem -.125rem #eee;letter-spacing:.25rem;flex-direction:column;color:#ff0}
.button.quit{font-family:san-serif}
.word-bg-picker{display:flex;align-items:center}
.word-bg{width:1.5vw;height:1.5vw;margin-left:.625rem;border:2px solid #000}
.word-bg.active{border:2px solid #ff0}
.word-bg.fff{background-color:#fff}
.word-bg.ccc{background-color:#ccc}
.word-bg.aaa{background-color:#aaa}
@layer base{--foreground:60 9.1% 97.8%;--card:20 14.3% 4.1%;--card-foreground:60 9.1% 97.8%;--popover:20 14.3% 4.1%;--popover-foreground:60 9.1% 97.8%;--primary:60 9.1% 97.8%;--primary-foreground:24 9.8% 10%;--secondary:12 6.5% 15.1%;--secondary-foreground:60 9.1% 97.8%;--muted:12 6.5% 15.1%;--muted-foreground:24 5.4% 63.9%;--accent:12 6.5% 15.1%;--accent-foreground:60 9.1% 97.8%;--destructive:0 62.8% 30.6%;--destructive-foreground:60 9.1% 97.8%;--border:12 6.5% 15.1%;--input:12 6.5% 15.1%;--ring:24 5.7% 82.9%;--chart-1:220 70% 50%;--chart-2:160 60% 45%;--chart-3:30 80% 55%;--chart-4:280 65% 60%;--chart-5:340 75% 55%}